.agents/
.next/
node_modules/
public/
.gitignore
CHANGELOG.md
components.json
eslint.config.js
LICENSE
next-env.d.ts
next.config.js
opencode.jsonc
package-lock.json
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
postcss.config.js
README.md
skills-lock.json
tsconfig.json
tsconfig.tsbuildinfo